@import "tailwindcss";

:root {
  /* Branding Colors */
  --color-primary: #1E7EF5;
  --color-primary-hover: #1666CC;
  --color-secondary: #EAF3FF;

  /* UI Colors */
  --color-bg-page: #F8FAFC;
  --color-bg-card: #FFFFFF;
  --color-border-light: #E5E7EB;

  /* Text Colors */
  --color-text-dark: #0F172A;
  --color-text-body: #334155;
  --color-text-muted: #64748B;

  /* Status Colors */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-page: #0F172A; 
    --color-bg-card: #1E293B;
    --color-text-dark: #F8FAFC;
    --color-text-body: #CBD5E1;
    --color-border-light: #334155;
  }
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);
  
  --color-bg-page: var(--color-bg-page);
  --color-bg-card: var(--color-bg-card);
  
  --color-text-dark: var(--color-text-dark);
  --color-text-body: var(--color-text-body);
  --color-text-muted: var(--color-text-muted);
  
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
}

body {
  background-color: var(--color-bg-page);
  color: var(--color-text-body);
  font-family: 'Inter', sans-serif;
}